# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

lib-cov
coverage
*.lcov

node_modules/
jspm_packages/
*.tsbuildinfo
.npm

.eslintcache
.node_repl_history

*.tgz

dist

.docusaurus

.vscode-test

.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*


docs/api

docs/.vitepress/dist
docs/.vitepress/cache
